""" Map leader to space ---------------------
let mapleader="\<Space>"

""" Plugins  --------------------------------
set surround
set easymotion
set highlightedyank
set NERDTree

""" Plugin settings -------------------------

""" Common settings -------------------------
""" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md
set showmode                        " message on the status line to show current mode
set scrolloff=5                     " minimum number of lines above and below the cursor
set scrolljump=10                   " minimum number of lines to scroll
set sidescroll=4                    " minimum number of columns to scroll horizontally
set sidescrolloff=10                " min. number of columns to left and right of cursor
set incsearch                       " show where search pattern typed so far matches
set hlsearch                        " highlight matches with the last search pattern
set selectmode="mouse"              " This is a comma-separated list of words, which specify when to start Select mode
set number relativenumber           " print the line number in front of each line
                                    " + show the line number relative to the line with

""" Idea specific settings ------------------
set ideajoin                        " If true, join command will be performed via IDE
" set idearefactormode=keep           " Define the mode that would be enabled during the refactoring (keep, select, visual)

map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>i <Action>(ReSharperGotoImplementation)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
map <leader>` <Action>(RiderOpenSolution)

vnoremap <C-c> "+y
map <C-v> "+p

""" I hate escape more than anything else
inoremap jk <Esc>
inoremap kj <Esc>

""" NERDTree mappings
nnoremap <leader>n :NERDTreeFocus<CR>